target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css

#  Consider in gitpod.io but not condider in other ide (github) # not tested
#  vscode-remote config make issues b/w ide
.devcontainer/devcontainer.json
!/workspace/learn-spring/.devcontainer/devcontainer.json
.devcontainer/Dockerfile
!/workspace/learn-spring/.devcontainer/Dockerfile

